
{% extends 'base.html'%}


{%block 'conteudo'%}



<div class="container text-center">
  <div class="row">
    <div class="col m-4">
              <img width="100%" src="{{receita.img.url}}"  >
            </div>
            <div class="col m-4 text-center">
              <div class="card-body">
              
              
                    <p>
                    <p class="card-title">Nome da receita:</p>
                    <h5 class="card-title">{{receita.nome}}</p>
                    <p/>
                    <p>
                      <h5 class="card-title">Ingredientes:<h5>
                      <p class="card-title">{{receita.ingredientes}}</p>
                    <p/>
                    <p>
                      <h5 class="card-title">Modo de preparo:<h5>
                      <p class="card-title">{{receita.modo_preparo}}" </p>
                    <p/>
                                      
                    <h5 class="card-title">Categoria: </h5>
                    <p class="card-text">{{receita.categoria}}</p>
              <!-- Button trigger modal -->
                    <h5 class="card-title">Criador: </h5>
                     <p class="card-text">{{ receita.usuario.nome }}</p>
              
              
            
          
          </div>
            </div>
          </div>


          <!-- detalheListartodos.html -->

<!-- ... seu conteúdo existente ... -->


<!-- ... seu conteúdo existente ... -->

<!-- detalheListartodos.html -->

<!-- ... seu conteúdo existente ... -->

<h5 class="card-title">Comentários:</h5>
{% for comentario in comentarios %}
    <p>{{ comentario.texto }} - {% if comentario.usuario %}{{ comentario.usuario.username }}{% else %}Usuário Anônimo{% endif %}</p>
{% endfor %}

<form method="post" action="{% url 'detalheLista' id=receita.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Adicionar Comentário</button>
</form>








{%endblock %}
