{% extends "base.html" %}

{% block title %}Forms Receita{% endblock %}

{% block content %}
<div class="mt-5">

    <h2>Formulário</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="exampleInputPassword1">Nome</label>

            
            {{form.nome}}
        </div>
       
        <button type="submit" class="btn btn-primary" value="Cadastrar">Cadastrar</button>
      
         
    </form>
</div>
{% endblock %}